input {
    width: 70%;
    margin-left: 50px;
    font-weight: bold;
}

label {
    margin-left: 50px;
}
h4{
    margin-left: 600px;

}

form {
    padding: 20px;
    margin-left: 100px;
    margin-top: 10px;
    width: 60%;
    background-color: bisque;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    /* background-color: blanchedalmond; */
    box-shadow: 2px 3px 4px yellow;
}

/* form:hover {
    color: rgb(174, 155, 11);
    background-color: rgb(40, 40, 40);
    transform:scale(1.2);

} */

button {
    margin-left: 100px;
    font-weight: bolder;
    font-size: x-large;
    width: 150px;
}

span {
    width: 60%;
    margin-left: 100px;
}