img{
    height:150px;
    width:140px;
    margin-left:7px;
    margin-top:90px;
    margin-bottom:10px;
    border-radius:10px;
}
.prodimg{
    height:200px;
    width:200px;
    margin-left:40px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;

}
.like{
    height: 100px;
    width: 100px;
}