<!-- <div class="container d-flex align-items-center justify-content-center flex-wrap">
    <div class="box" *ngFor="let d of doll">
        <div class="body">
            <div class="imgContainer">
               <button style="box-sizing: border-box; background-color:black;"> <img [src]="d.img" alt=""></button>
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">{{d.pname}}</h3>
                    <p class="fs-6 text-white">{{d.pdescription}}</p>
                </div>
            </div>
        </div>
    </div>
   
</div> -->
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="background-color:rgb(11, 12, 12);  height: 800px;">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
   
        <img src="https://img.freepik.com/premium-photo/photo-frame-childrens-playroom-interior-with-toys-kids-furniture-table-with-chairs-shelves-scandinavian-style-3d-rendering_180507-739.jpg"  class="carousel-image" alt="..." style="margin-left: 230px; width: 800px; margin-top: 30px;">
        <hr style="color: white; margin-top: 10px; border-color: rgb(255, 255, 255);border-width: 10px; ">
      
    </div>
      
    <marquee style="color: white;font-weight: bolder; font-size: xx-large;">All Varieties of Kids Furniture at 50% off</marquee> 
    <hr style="color: white;">
  </div> -->

<div class="f">

   <div *ngFor="let d of doll" style="float: left; margin-left: 70px; margin-top: 20px;">
   <img [src]="d.img" alt="" height="200px" width="200px" style="  box-sizing: border-box; border-radius: 500px;">

  </div>
</div>
<br>
<marquee class="m" style="font-weight: bolder; font-size: xx-large;">All Varieties of Kids Furniture at 50% off</marquee> 
<div style="  height: 400px; width: 100%;  background-color: black;"> 
<div class="container" style="margin-left: 30px;">
    <div class="card" *ngFor="let d of doll" >
        <div class="firstrow">  <span>{{d.pname}}</span> </div>
     
        <div class="mediumrow"> <img [src]="d.img">
            <div class="content">
                {{d.pname}}
                <br>
                {{d.pdescription}}
            </div>
        </div>
        <div class="lastrow">
            <p>Time left:</p>
            <div class="boxes"> <span>02</span> <span>23</span> <span>42</span> </div> <button>Buy</button>
        </div>
    </div>
</div>
</div>