<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<marquee direction="right">Games Toys  are Available at flat 30% off </marquee>
<div style="margin-top: 30px;">
    <div class="row" >
        <!--1st column-->
        <div class="col col-lg-3" style="border: none; border-color:blue; border-radius:10px solid blue;" >
            <app-advertisement></app-advertisement>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
           <app-gamesdeal></app-gamesdeal>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            
            <app-allcategories></app-allcategories>
        </div>
    </div>
</div>