<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <style>
        label{
            margin-left: 50px;
            font-size: 20px;
            font-weight: bold;
        }
        a{
           
            color: rgb(14, 0, 0);
            font-weight: bolder;

        }
        button{
            background-color: black;
            color: white;
            font-size: 15px;
        }
       
    </style>
</head>
<body style="margin-left:30%; margin-top:5%; ">
    <form action="">
        <fieldset style="height: 400px; width:550px; background-color: rgb(144, 16, 218); border-radius: 20px; box-shadow: 10px; border-style: double;">
            <legend style="color: dark rgb(246, 241, 245); font-size: 20px; font-family:sans-serif; font-style: italic; margin-left: 180px; box-sizing: border-box; border-radius: 4px;  color: white;">SignUp</legend>
            <br>
            <label for="">Username </label>
            <input type="text" #user>
            <br>
            <br>
            <label for="">Email</label>
            <input type="email">
            <br><br>
            <label for="">Password</label>
            <input type="password" name="" id="" #pass>
            <br><br>
            <label for="">Confirm-Password</label>
            <input type="password"><br><br>
            <button style="margin-left: 170px;"  > SignUp</button>
           
        </fieldset>
    </form>
</body>
</html>
