<section class="vh-100 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3" >
    <div class="container h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-12 col-md-9 col-lg-7 col-xl-6" >
          <div class="card" style="border-width: 3px; border-color: blue;">
            <div class="card-body p-5" >
              <h2 class="text-uppercase text-center mb-5" style="color: Blue;">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg"  style="color: Blue;"> Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg"  style="color: Blue;"> Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg"  style="color: Blue;">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg"  style="color: Blue;">Confirm password</label>
                </div>

               
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

           

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>