.prodimg{
    height:100px;
    width:100px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
   
    box-sizing: border-box;
    border-radius: 10px solid rgb(48, 12, 227);
    border-width: 4px;
    background-color: aquamarine;

}

h3{
    margin-left:20px;
    color:blue;
    text-shadow: 2px 3px 2px red;
}

button{
    height: 200px;
    width: 200px;
}
.m{
    margin-left: 120px;
}