.prodimg{
    height:70px;
    width:70px;
    margin-left:40px;
    margin-top:10px;
    margin-bottom:50px;
   
    box-sizing: border-box;
    border-radius: 10px solid black;
    border-width: 4px;
    background-color: aquamarine;

}

h3{
    margin-left:20px;
    color:blue;
    text-shadow: 2px 3px 2px red;
}
