
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <h1 style="color: aliceblue; font-size: 30px; margin-left: 550px; font-style: italic;">PRODUCTS DETAILS</h1>
      <div class="d-flex">
        <!-- Button trigger modal -->
        <button (click)="clickAddProduct()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </nav>
  <table class="table table-hover" style="background-color: rgb(209, 252, 255);">
    <thead>
      <tr style="border-color: rgb(115, 0, 255); border-width:3px;" >
        <th scope="col" style="border-color: rgb(76, 0, 255); border-width:4px;">Product ID</th>
        <th scope="col" style="border-color: rgb(43, 0, 255); border-width:4px;">Product Name</th>
        <th scope="col" style="border-color: rgb(34, 0, 255); border-width:4px;">Description</th>
        <th scope="col" style="border-color: rgb(0, 0, 255); border-width:4px;">Price</th>
        <th scope="col" style="border-color: rgb(0, 42, 255); border-width:4px;">Product Image</th>
        <th scope="col" style="border-color: rgb(85, 0, 255); border-width:4px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productData" style="border-color: blue; border-width:4px;">
        <td style="border-color: blue; border-width:4px;">{{product.id}}</td>
        <td style="border-color: blue; border-width:4px;">{{product.pname}}</td>
        <td style="border-color: blue; border-width:4px;">{{product.pdescription}}</td>
        <td style="border-color: blue; border-width:4px;">{{product.price}}</td>
        <td style="border-color: blue; border-width:4px;">
          <img [src]="product.img" class="prodimg" >
        </td>
        <td>
          <button (click)="onEdit(product)" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>&nbsp;
          <button (click)="deleteProducts(product)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(176, 244, 218); font-weight: bolder;">
          <h5 class="modal-title" id="exampleModalLabel">Product details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color:aquamarine; font-weight: bold;">
          <form [formGroup]="formValue" >
            <div class="mb-3" >
              <label class="form-label">Name</label>
              <input type="pname"class="form-control" formControlName="pname"  required>
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="pdescription" class="form-control" formControlName="pdescription" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input type="price" class="form-control" formControlName="price" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Image</label>
              <input type="img" class="form-control" formControlName="img" required>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background-color: green;">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProductDetails()" class="btn btn-primary">Add</button>
          <br>
          <button type="button" *ngIf="showUpdate" (click)="updateProductDetails()" class="btn btn-warning">Update</button>
        </div>
      </div>
    </div>
  </div>
  