<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<marquee scrollamount="35">Amazing Offers in ToyMart</marquee>
<marquee behavior="" direction="" scrollamount="25" >
    <div class="carousel-item active" style="border-radius:100px ;">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/toy-drive%2Cchristmas%2C-christmas-sale%2Cevent-design-template-12bf8cc4cb577929e3c5383840139aa3_screen.jpg?ts=1607341361"  class="carousel-image" alt="..." style="margin-left: 40px; border-radius:100px ; margin-top: 40px;" height="200px">
      <img src="https://img.freepik.com/free-vector/three-boxes-full-toys_1308-37294.jpg?w=2000" alt="" height="200px" style="margin-left: 40px;">
      <img src="https://media.wcnc.com/assets/WCNC/images/f9739f0f-8686-4860-b733-ad9aa1463d0c/f9739f0f-8686-4860-b733-ad9aa1463d0c_1140x641.jpg"  class="carousel-image" alt="..." style="margin-left: 40px; height: 200px; border-radius:100px; margin-top: 40px;">
     <img src="https://img.freepik.com/free-vector/shelf-full-books-toys-white_1308-41214.jpg?w=2000" alt="" height="200px" style="margin-left:40px;">
      <img src="http://media2.s-nbcnews.com/i/streams/2014/October/141031/1D274907117326-2d9670163-toy-drive-photoblog800.jpg" alt="" style="margin-left: 40px; height: 200px; border-radius:100px ; margin-top: 40px;">
  
  
    </div>
 
  </marquee>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <app-allcategories></app-allcategories>
            <!-- <app-allcategories></app-allcategories> -->
            <!-- <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories> -->
            <!-- <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories>
            <app-allcategories></app-allcategories> -->
           
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-deals [product]="productItem" *ngFor="let productItem of all"></app-deals>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-advertisement></app-advertisement>
           <app-advertisement></app-advertisement> 
             <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
            <!-- <app-advertisement></app-advertisement>  -->
        </div>
    </div>
</div>