.mt{
    background-color: aquamarine;
}
input {
    width: 60%;
    margin-left: 100px;
    font-weight: bold;
   
}

label {
    color:red;
    margin-left: 100px;
}

form {
   
    margin-left: 400px;
    width: 40%;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    border-width: 4px;
    box-shadow: 2px 3px 3px yellow;
    background-color: bisque;
}

.form::before{
    content: '';
    width: 120px;
    height: 600px;
    left: 60px;  
    top: -120px;
    background: linear-gradient(#00e5ff,#b400fb);
    position: absolute;
    animation: animate 5s linear infinite;
}

.form::after{
    content:'';
    position: absolute;
    background: #191919;
    inset: 5px;
    border-radius: 5px;
}

/* form:hover {
    color: rgb(174, 155, 11);
    background-color: rgb(40, 40, 40);
    transform:scale(1.2);

} */

button{
    margin-left: 230px;
    font-weight: bold;
    margin-left: 200px;
    border-radius: 150px;
}
/* button :hover{
    color: rgb(17, 15, 2);
    background-color: rgb(40, 40, 40);
    transform:scale(1.2);
} */

span {
    width: 100%;
}
